<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crime Map</title>

  </head>
  <body onload="initialize()">
    <h1>CrimeMap</h1>
    <p>A map of recent criminal activity in the Grahamstown area.</p>

    <div id="map-canvas" style="width:70%; height:500px;"></div>

    <div id="newcrimeform">
      <h2>Submit New Crime</h2>
      <form class="" action="/submitcrime" method="post">
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="mugging">Mugging</option>
          <option value="breakin">Break-in</option>
        </select>
        <label for="date">Date</label>
        <input type="date" name="date" id="date" value="">
        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude" value="">
        <label for="longtitude">Longtitude</label>
        <input type="text" name="longtitude" id="longtitude" value="">
        <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
        <input type="submit" name="" value="Submit">
      </form>

    </div>

    <!-- Footer Section -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script type="text/javascript">
      var map,
          marker;
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(
            -33.30578381949298, 26.523442268371582),
            zoom: 15
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        google.maps.event.addListener(map, 'click', function(event){
          placeMarker(event.latLng);
        });
      }
      function placeMarker(location) {
        if(marker) {
          marker.setPosition(location);
        } else {
          marker = new google.maps.Marker({
            position : location,
            map : map
          });
        }
      }
    </script>
  </body>
</html>
