<html>
  <head>
    <title>Headlines ({{publication}})</title>
  </head>
  <body>
    <h3>Weather Report</h3>
    <strong>Current Weather</strong>:
    <p>City: <strong>{{weather.city}}</strong></p>
    <p>{{weather.description}} | {{weather.temperature}}&#8451;</p>
    <hr>
    <form>
      <select class="" name="publication">
        {% for feed_name in feeds %}
          <option value="{{feed_name}}" {{'selected="selected"' if publication == feed_name}}>{{feed_name}}</option>
        {% endfor %}
      </select>
      <input type="submit" name="" value="Submit">
    </form>
    <hr>
    <h1>Headlines ({{publication}})</h1>
    {% for article in articles %}
      <b><a href="{{article.link}}" target="_blank">{{article.title}}</a></b>
      <i>{{article.published}}</i>
      <p>{{article.summary}}</p>
      <hr>
    {% endfor %}
  </body>
</html>
